<!DOCTYPE html>
<html>

<head>
    <title>Blockchain GUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav></nav>
    <div id="blockchain" class="blockchin">
        {% for block in blockchain %}
        
        <div class="block">
            <div class="title-parts">
                <img src = "logo.png" style="
    border-radius: 15px;
    width: 90px;
                display:inline;
                text-align: center;"/>
                <div class="pinky">&nbsp;</div>
            </div>
            <div class="inside-info">
                <div class="data">
                    <div class="title">DATA</div>
                    {% if block.index === 0 %}
                    <div class="data-text">Initial Block</div>
                    {% else %}
                    <div>
                        <div class="data-text">JOYN'd Event: {{block.data.contractId}}</div>
                    </div>
                    {% endif %}
                </div>
                <hr>
                <div class="time">
                    <div class="title">CREATED AT</div>
                    <div class="data-text">{{block.data.time}}</div>
                </div>
                <hr>
                <div class="hash">
                    <div class="title">HASH</div>
                    <div class="hash-code">{{block.hash}}</div>
                </div>
                <hr>
                <div class="hash">
                    <div class="title">PREVIOUS HASH</div>
                    <div class="hash-code">{{block.previousHash}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>





</body>

</html>